*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  
  font-style: normal;
}
header{
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: center;
  background: #FC6736;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(255, 121, 11, 0.3), 0 6px 20px 0 rgba(255, 104, 4, 0.3);
}
.heading{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.heading-name{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}
header ul {
  display: flex;
  justify-content: center;
}
header ul li{
  list-style-type: none;
  margin: 20px;
  font-size: 1.3rem;
}
header li a:hover {
  background: #f7f6f4;
  transition: 0.5s linear 0.2s;
  color: rgba(54, 54, 54, 0.6);

}
header a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 5px 10px;
  border: 3px solid #fff;
  border-radius: 50px;

  
}

/* body of the page */

main{
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
section{
  width: 100%;
  height: fit-content;
  background: #EEEDEB;
  margin: 10px 0;
  border-radius: 5px;
}
#about{
  height: fit-content;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
}
#about h2{
  margin: 15px;
}
#about p{
  margin: 15px;

}
.my-image{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px auto;
}
.my-image img{
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

#skills{
  padding: 30px 10px;
  font-size: 1.6rem;
}
#skills h2{
  text-align: center;
  margin: 10px;
}
#skills li{
  margin: 10px;
  height: fit-content;
  width: 95%;
  background: #f7f6f4;
  padding: 15px 10px;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 7px;
  display: flex;
  align-items: center;
  
}

.full{
  width: 90%;
  height: 10px;
  background: #EEEDEB;
  margin: 10px;
  border-radius: 5px;
}
.percentage{
  height: 100%;
  background:#FC6736;
  border-radius: 5px;
}
/* .percentage:nth-of-type(2){
  width: 90%;
  background:#1a0b06;
  

} */
.one{
  width: 80%;
  
}
.two{
  width: 90%;

}
.three{
  width: 70%;

}
.four{
  width: 80%;

}
.five{
  width: 50%;

}
/* projects section */

#projects{
  padding: 10px;
}
#projects h2{
  margin: 20px auto;
  font-size: 2rem;
  text-align: center;
}
.project{
  margin: 10px;
  background: #f7f6f4;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-image{
  width: 600px;
  height: 140px;
  background: #EEEDEB;
  margin: 10px;
  border-radius: 10px;
}
.project-image img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}
.project-description{
  width: 1000px;
  height: 140px;
  /* background: #EEEDEB; */
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.project-description h3{
  margin: 5px;
  text-transform: uppercase;
  
}
button{
  width: fit-content;
  font-size: 1.2rem;
  padding: 5px 8px;
  border-radius: 5px;
  border-style: none;
  background: #FC6736;
  margin: 10px 0;
  transition: 0.5s linear 0.2s ;
  
}
button:hover{
  background:rgba(252, 103, 54, 0.5) ;
  
  
}
button a{
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  
}
a:hover{
  transition: 0.5s linear 0.2s ;

}

footer{
  background: #FC6736;

}

#contact{
  color: #fff;
  padding: 15px;
}

#contact h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px;

  
}
input{
  padding: 10px;
  margin: 5px;
  width: 90%;
  font-size: 1.2rem;
  
}
input:focus{
  outline: none;
}
input:nth-of-type(3){
  height: 150px;
  
}
.send-massage{
  background: #fd4d12;
  padding: 10px 20px;
  margin: 5px;
  width: fit-content;
  border-radius: 50px;
  font-weight: 700;
}

.my-contacts{
  text-align: left;
  margin: 20px 0 40px 0;
}
.contact-head{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 40px 40px 20px 40px;
}
.my-contacts h3{
  font-size: 1.6rem;
  margin: 15px 0 5px;
}
.my-contacts p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.my-contacts a{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}

/*media query for tablets screen sizes */
@media screen and (min-width: 640px)  {
  
header{
  flex-direction: row;
  background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(226, 152, 245, 0.2), 0 6px 20px 0 rgba(178, 212, 255, 0.18);
    padding: 30px;
  }
  .heading{
    font-size: 1.4rem;
    margin-bottom: 4px;
    
  }
  .heading-name{
    font-size: 1rem;
    margin-bottom: 5px;
    
  }
  .my-full-name{
    margin-left: 30px;
    text-align: left;
  }

body{

  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

  main{
  width: 80%;
}

section {
  width: 100%;
  height: fit-content;
  background: rgba(238, 237, 235, 0.7);
  margin: 10px 0;
  border-radius: 5px;
  
}
.project{
  flex-direction: column;
  height: fit-content;
  padding: 10px;
}
.project-image{
  width: 95%;
  height: 400px;
  margin-bottom: 10px;
}

.project-description{
  width: 95%;
  margin: 10px ;
}
.project-description h3{
  font-size: 1.4rem;
  font-weight: 800;
  color: #ff7f55;
  margin: 0;
}
.project-description p{
  font-size: 1.2rem;
  
}
button{
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  
}
button a {
  font-weight: 700;
  

}
input:nth-of-type(3){
  height: 300px;

}
#contact{
  padding: 20px 90px;
}
.contact-head, #contact h2{
  font-size: 3rem;
}

}

/* laptop  screen version */
@media screen and (min-width: 769px){

#about{
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 200px;
}
.my-image{
  border-radius: 0;
  width:250px;
  height: 100%;
  margin: 0;
  border-right: 5px solid #FC6736;

}
.my-image img{
  border-radius: 0;
  margin: 0;
  margin-right: 20px;
}
.about-description{
  padding: 30px 20px;
}
#about h2{
  font-size: 2.2rem;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
#about p{
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
}
#skills{
  padding: 40px;
}
#skills li{
  margin: 20px;
  padding: 15px;
  height: 70px;
}
#projects{
  padding: 40px;
}

button{
  height: 53px;
 
}
.project p{
  margin: 10px 0;
  
}
.project-description{

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
input{
  width: 49%;
  margin: 5px 3px;
}
input:nth-of-type(3){
  width: 100%;
  margin: 10px 0;
}

}

/* large screens and destops */
@media screen and (min-width: 1024px){


#wrapper{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
    grid-template-areas:
      "about skills"
      "projects projects";
  gap: 10px;
}
#about{
  flex-direction: column;
  height: 604px;
  margin: 0;
  grid-area: about;
}
.my-image{
  width: 100%;
  border: 0;
  height: 70%;
  object-fit: contain;
  border-radius: 10px 10px 0;
}
.my-image img{
  width: 100%;
  border: 0;
  border-radius: 10px 10px 0 0;
}
#projects{
  width: 100%;
  grid-area: projects;
  padding: 40PX 0;
}
.project{
  width: 47%;
}
#skills{
  grid-area: skills;
}
.main-projects{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 80%;
}
#contact h2{
  margin-bottom: 60px;
  font-size: 3rem;
}
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-head{
  display: none;
}
.my-contacts{
  padding-left: 60px;
  margin: 0;
}
.my-contacts div {
  margin-bottom: 40px;
}
.email h3{
  margin-top: 0;
}
input{
  width: 100%;
}





.header-wrapper{
  gap: 30px;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.heading{
  font-size: 2.2rem;

}

.heading-name{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}
nav a {
  border: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(66, 66, 66);
  /* transition: ease-in; */
  transition:  0.5s linear 0.5s ;
}

nav a:hover{
  border-bottom: 4px solid blue;
}


}




